@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@theme {
  --font-montserrat: Montserrat, Arial, sans-serif;
  --font-open-sans: "Open Sans", Arial, sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6, p, span, a, div {
    @apply text-white;
  }

  h1, h2 {
    @apply font-montserrat font-bold leading-none;
  }

  h1 {
    @apply text-[2rem] mb-4;
  }

  h2 {
    @apply text-[1.5rem] mb-3 text-slate-500;
  }

  h3 {
    @apply font-bold;
  }

  p {
    @apply font-open-sans mb-2 text-white;
  }

  a {
    @apply text-blue-500 decoration-0 hover:text-blue-400 fill-blue-500 hover:fill-blue-400 transition-colors;
  }
}

@layer utilities {
  .auto-height {
    height: calc-size(auto, size);
  }
}
